* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 300vh;
}

header {
    background-color: lightblue;
    width: 100%;
    padding: 1em;
    position: sticky;
    top: 0;
}

#event-button:active {
    /* background-color: green; */
}

.moveover-div {
    width: 100px;
    height: 100px;
    background-color: green;
}